id = "aap-{{ composer_aap_version }}-rhel-{{ composer_rhel_version }}"
name = "{{ repo_data.repo_response.name }}"
type = "yum-baseurl"
url = "{{ repo_data.repo_response.baseurl }}"
check_gpg = true
check_ssl = true
rhsm = true

gpgkeys=[
{% for key in gpg_keys.gpg_keys %}
'''{{ key }}'''
{%- if not loop.last %},
{% endif %}
{% endfor %}
]