{
    "{{ ansible_facts['architecture'] }}": [
        {
            "name": "aap-{{ composer_aap_version }}-rhel-{{ composer_rhel_version }}",
            "metalink": "{{ repo_data.repo_response.baseurl }}",
            "gpgkey": {{ gpg_keys.gpg_keys | first | to_json }},
            "check_gpg": true
        }
    ]
}