{
    "{{ ansible_facts['architecture'] }}": [
        {
            "name": "EPEL",
            "metalink": "https://download.fedoraproject.org/pub/epel/{{ composer_rhel_version }}/Everything/{{ ansible_facts['architecture'] }}",
            "gpgkey": {{ epel_gpg_key | to_json }},
            "check_gpg": true
        }
    ]
}