name = "{{ composer_build_name }}"
description = "AWS RHEL 9 image with AAP installer"
version = "{{ composer_build_image_version }}"
modules = []
groups = []
distro = "{{ composer_rhel_distro }}"

[[packages]]
name = "ansible-automation-platform-installer"

[customizations]

{% if composer_add_epel_repo %}
[[customizations.repositories]]
id = "epel"
name="Extra Packages for Enterprise Linux $releasever - $basearch"
baseurls=[ "https://download.fedoraproject.org/pub/epel/$releasever/Everything/$basearch" ]
gpgcheck=true
gpgkeys = [ "http://dl.fedoraproject.org/pub/epel/RPM-GPG-KEY-EPEL-9" ]
enabled=true
filename="epel.repo"
ssl_verify=true
{% endif %}
