provider = "aws"

[settings]
accessKeyID = "{{ cloud.access_key_id }}"
secretAccessKey = "{{ cloud.secret_access_key }}"
{% if cloud.session_token is defined and (cloud.session_token | length > 0) %}
sessionToken = "{{ cloud.session_token }}"
{% endif %}
bucket = "{{ cloud.bucket }}"
region = "{{ cloud.region }}"
key = "{{ cloud.image_key }}"
